In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('C:\\Users\\hp\\Desktop\\Tutor\\Power BI\\Projects\\Data professionals\\Data_professionals_raw_data.csv', encoding_errors='ignore')

In [6]:
df.shape

(630, 28)

In [8]:
df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [10]:
df.describe()

,Browser,OS,City,Country,Referrer,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q10 - Current Age
count,0.0,0.0,0.0,0.0,0.0,623.000000,620.000000,619.000000,618.000000,617.000000,625.000000,630.000000
mean,NaN,NaN,NaN,NaN,NaN,4.269663,5.741935,5.861066,5.326861,4.756888,5.608000,29.866667
std,NaN,NaN,NaN,NaN,NaN,2.772945,2.761584,2.703244,2.738161,2.820822,3.006659,7.245941
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000
25%,NaN,NaN,NaN,NaN,NaN,2.000000,4.000000,4.000000,4.000000,3.000000,3.000000,25.000000
50%,NaN,NaN,NaN,NaN,NaN,4.000000,6.000000,6.000000,5.000000,5.000000,6.000000,28.000000
75%,NaN,NaN,NaN,NaN,NaN,7.000000,8.000000,8.000000,7.000000,7.000000,8.000000,33.000000
max,NaN,NaN,NaN,NaN,NaN,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,92.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 28 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Unique ID                                                                                     630 non-null    object
 1   Email                                                                                         630 non-null    object
 2   Date Taken (America/New_York)                                                                 630 non-null    object
 3   Time Taken (America/New_York)                                                                 630 non-null    object
 4   Browser                                                                                       0 non-null      float64
 5   OS                                                                                            0 non-null      float64
 6   City                                                                                          0 non-null      float64
 7   Country                                                                                       0 non-null      float64
 8   Referrer                                                                                      0 non-null      float64
 9   Time Spent                                                                                    630 non-null    object
 10  Q1 - Which Title Best Fits your Current Role?                                                 630 non-null    object
 11  Q2 - Did you switch careers into Data?                                                        630 non-null    object
 12  Q3 - Current Yearly Salary (in USD)                                                           630 non-null    object
 13  Q4 - What Industry do you work in?                                                            630 non-null    object
 14  Q5 - Favorite Programming Language                                                            630 non-null    object
 15  Q6 - How Happy are you in your Current Position with the following? (Salary)                  623 non-null    float64
 16  Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)       620 non-null    float64
 17  Q6 - How Happy are you in your Current Position with the following? (Coworkers)               619 non-null    float64
 18  Q6 - How Happy are you in your Current Position with the following? (Management)              618 non-null    float64
 19  Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)         617 non-null    float64
 20  Q6 - How Happy are you in your Current Position with the following? (Learning New Things)     625 non-null    float64
 21  Q7 - How difficult was it for you to break into Data?                                         630 non-null    object
 22  Q8 - If you were to look for a new job today, what would be the most important thing to you?  630 non-null    object
 23  Q9 - Male/Female?                                                                             630 non-null    object
 24  Q10 - Current Age                                                                             630 non-null    int64
 25  Q11 - Which Country do you live in?                                                           630 non-null    object
 26  Q12 - Highest Level of Education                                                              578 non-null    object
 27  Q13 - Ethnicity                                                                               630 non-null    object
dtypes: float64(11), int64(1), object(16)
memory usage: 137.9+ KB

In [14]:
# returen the number of duplicate rows
df.duplicated().sum()

0

In [16]:
# returen the number of null value rows
df.isnull().sum()

Unique ID                                                                                         0
Email                                                                                             0
Date Taken (America/New_York)                                                                     0
Time Taken (America/New_York)                                                                     0
Browser                                                                                         630
OS                                                                                              630
City                                                                                            630
Country                                                                                         630
Referrer                                                                                        630
Time Spent                                                                                        0
Q1 - Which Title Best Fits your Current Role?                                                     0
Q2 - Did you switch careers into Data?                                                            0
Q3 - Current Yearly Salary (in USD)                                                               0
Q4 - What Industry do you work in?                                                                0
Q5 - Favorite Programming Language                                                                0
Q6 - How Happy are you in your Current Position with the following? (Salary)                      7
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)          10
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                  11
Q6 - How Happy are you in your Current Position with the following? (Management)                 12
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)            13
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)         5
Q7 - How difficult was it for you to break into Data?                                             0
Q8 - If you were to look for a new job today, what would be the most important thing to you?      0
Q9 - Male/Female?                                                                                 0
Q10 - Current Age                                                                                 0
Q11 - Which Country do you live in?                                                               0
Q12 - Highest Level of Education                                                                 52
Q13 - Ethnicity                                                                                   0
dtype: int64

In [22]:
df['Date Taken (America/New_York)'] = pd.to_datetime(df['Date Taken (America/New_York)'],format='%m/%d/%Y')

In [24]:
df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,2022-06-10,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,2022-06-10,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,2022-06-10,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,2022-06-10,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,2022-06-10,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [26]:
df.to_csv('Cleaned_data.csv', index=False)

In [42]:
# create connection with mysql db
engine_mysql = create_engine("mysql+pymysql://root:MySQL2025@localhost/walmart_db")

try:
    engine_mysql
    print("Successfully connected with MySQL db")
except:
    print("Unable to establish connection with MySQL")

Successfully connected with MySQL db

In [ ]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)